<div class="row">
    <h1 class="text-center">Projects</h1>
</div>

<!-- project tiles --> 
<div class="row">
  <div ng-repeat="project in projects" class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">{{project.name}}</div>
          <div class="panel-body">
              {{project.description}}
              <div class="container-fluid">
                <div class="row">
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter bidder's email to invite." ng-model="invite.email"> 
                      <button ng-click="inviteBid(email, project.projectId)">
                    </div>
                  </form>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <h3>Create A New Project</h3>
  <div class="col-md-8">
    <form> 
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Project Name</label>
          <div class="col-lg-10">
            <input type="text" ng-model="project.name" class="form-control" id="inputEmail" placeholder="Project Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Project Description</label>
          <div class="col-lg-10">
            <input type="text" ng-model="project.description" class="form-control" id="inputEmail" placeholder="Project Description">
          </div>
        </div>
        <button ng-click="createProject(project)" class="btn btn-default">Create Project</button>
    </form>
  </div>
</div>

