<header class='row bgcity'>
<!--   <nav> -->
    <a class="navbar-brand" href="#">bidbuilders</a>
    <a ui-sref='login' class='login pull-right'>login</a>
<!--   </nav> -->

  <h1 id='hero-text'>Communication for contractors made easy </h1>
</header>

<div class="row center-block">
  <h1 class='projects-text'>Keep all of your projects in one place</h1>
  <a class='projects' href="/">projects</a>
</div>

<div class="row center-block">
  <h1>Manage new clients and bid on new jobs</h1>
  <a class='clients' href="/">clients</a>
</div>

<div class="row">
    <form class='row col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4'>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="user.email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password">
      </div>
        <div class="text-danger"><strong>{{error}}</strong></div>
      <button type="submit" class="btn btn-default col-xs-12" ng-click="login(user)">Submit</button>
    </form>
</div>

