<header class='container-fluid'>
  <nav>
     <div class='navbar-wrapper'>
        <a class="navbar-brand" href="#">bidbuilders</a>
        <a class='login pull-right'>login</a>
     <div>
  </nav>
</header>


<header>
  <h1 id='logo'>bidbuilders</h1>
  <button ui-sref='login' class='pull-right'>login</button>
</header>
<div class="row header jumbotron">
  <h1>i'm a header <a ui-sref='login' class='btn btn-default'>to login view</a></h1>
</div>



<div class="row">
  <h1 class='text-center login'>Login</h1>
    <form class='row col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4'>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="user.email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password">
      </div>
        <div class="text-danger"><strong>{{error}}</strong></div>
      <button type="submit" class="btn btn-default col-xs-12" ng-click="login(user)">Submit</button>
    </form>
</div>

